        <% title "NMLC Render" %>
		<div class="jumbotron">
          <h1>NLMC</h1>
          <p>This is a simple render of the NLMC XML file</p>
		  <p>Source Code at:  <a href="https://github.com/cwebster/nlmc">https://github.com/cwebster/nlmc</a></P>
        </div>


<%= @html.html_safe %>
